[Desktop Entry]
Type=Application
Name=Borne
Comment=
Exec=/usr/bin/lxterminal -e $HOME/Borne_arcade_v2/borne_arcade/lancerBorne.sh
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;
Hidden=false
Terminal=true
X-KeepTerminal=false
